html {
  font: 16pt Arial;
}

#clock {
  padding: 0; 
  margin: 0;
  float: left;
  font-size: 48pt;
  font-weight: bold;
}

table {
  width: 600px;
  margin: 0 auto;
}

.fineprint {
  font-size: 10pt;
}